{% extends "base.html" %}{% block content %}
<a href="/">ホーム</a>
<a href="/logout">ログアウト</a>
{% for note in notes %}
    <p>{{ note.id }}</p>
    <h3>{{ note.post }}</h3>
    <p>{{ note.ip }}</p>
    <form action="{{ url_for('delete', id=note.id) }}" method="post">
        <input type="submit" value="削除">
    </form>
    <a href="{{ url_for('block', ip=note.ip) }}">このIPをブロック</a>
    <hr>
{% else %}
    <p>noteがありません。</p>
{% endfor %}
<h2>ブロック中のIP</h2>
{% for block_ip in ips %}
    <a href="{{ url_for('unblock', ip=block_ip.ip) }}">{{ block_ip.ip }}</a>
{% endfor %}
{% endblock %}