{% extends "base.html" %}{% block content %}
<a href="/login">管理者ログイン</a>
<a href="/admin">管理者画面</a>
<a href="https://github.com/newhonke/flask_bbs">github</a>
<form action="/" method="post">
    <label>投稿</label>
    <input type="text" name="note" required>
    <input type="submit" value="投稿">
</form>
{% for note in notes %}
    {% if note.user and note.user.is_admin %}
        <p style="color: #e6b422;">{{ note.id }}</p>
    {% else %}
        <p>{{ note.id }}</p>
    {% endif %}
    <h3>{{ note.post }}</h3>
    <small>（{{ note.created_at | to_jst }}）</small>
    <hr>
{% else %}
    <p>noteがありません。</p>
{% endfor %}
{% endblock %}
